/* .destination:after {
    content: "/";
}
.destination:last-child:after {
    content: "";
}
 */
.product-destinations * {
  display: inline-block;
  float: left;
}
.product-tool-tip-container.show .product-tool-tip, .product-tool-tip-container .tooltip_toggle.hover:hover+.product-tool-tip {
  margin-top: 10px;
  min-width: 150px;
  width: auto;
  border: 1px solid #bcbcbc;
  height: auto;
  opacity: 1.0;
  pointer-events: auto;
  overflow: visible;
  padding: 20px;
  visibility: visible;
}

.product-tool-tip-container .product-tool-tip {
  -webkit-transition: opacity 0.2s ease-in, margin-top 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in, margin-top 0.2s ease-in;
  transition: opacity 0.2s ease-in, margin-top 0.2s ease-in;
  background: white;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  color: #6d6d6d;
  height: 0px;
  left: 0px;
  opacity: 0.0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  visibility: hidden;
  width: 0px;
  z-index: 999;
}

.product-tool-tip-container {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  position: relative;
}

.product-tool-tip-container .product-tool-tip:before {
  -webkit-transform: rotate(45deg) skewX(-9deg) skewY(-9deg);
  -moz-transform: rotate(45deg) skewX(-9deg) skewY(-9deg);
  -ms-transform: rotate(45deg) skewX(-9deg) skewY(-9deg);
  -o-transform: rotate(45deg) skewX(-9deg) skewY(-9deg);
  transform: rotate(45deg) skewX(-9deg) skewY(-9deg);
  background-color: #fff;
  border-left: 1px solid #bcbcbc;
  border-radius: 3px 0 0 0;
  border-top: 1px solid #bcbcbc;
  bottom: 100%;
  left: 25px;
  content: "";
  height: 12px;
  margin-bottom: -6px;
  position: absolute;
  width: 12px;
  z-index: -1;
}

.product-tool-tip-container .tooltip_toggle {
  cursor: pointer;
}


#one-page-shop div{
	float: left;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}
.clear{
	clear: both;
}